
* {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

.common_grid {}
.common_grid th,.common_grid td {text-align: center;}
.common_grid th {padding: 10px 10px; border-bottom: 1px solid black;}
.common_grid td {padding: 10px 10px; border-bottom: 1px solid #999999;}
